.navbar {
    font-family: 'Raleway', sans-serif;
    background-color: #F3F3F3;
    width: 100%;
    margin-top: 0px;
    height: 80px;
    z-index: 1;
    overflow: hidden;


}

.nav-logo {
    font-family: 'Raleway', sans-serif;
    margin-left: 40px;
    font-size: 30px;
    font-weight: 800;
    color: #001768;
    margin-top: -20px;
}

.navbar ul {

    list-style: none;
    display: flex;
    margin-top: -20px;
}

.navbar ul li {

    color: #000000;
    padding: 15px;
    margin: 10px;
    margin-top: 20px;
    font-weight: 600;
}

.navbar ul li a {
    text-decoration: none;
    color: #000000;
}

#lgin a {
    text-decoration: none;
    color: #000000;
}

#lgin a::after {
    content: ' ';
    width: 0%;
    height: 2px;
    background-color: #001768;
    display: block;
    transition: 0.5s;
    margin: auto;
    cursor: pointer;
}

#lgin a:hover::after {
    width: 100%;
}

.navbar ul li::after {
    content: ' ';
    width: 0%;
    height: 2px;
    background-color: #001768;
    display: block;
    transition: 0.5s;
    margin: auto;
    cursor: pointer;
}

.navbar ul li:hover::after {
    width: 100%;
}

#products {
    margin-left: 10px;
}

#academy {
    margin-left: 10px;
}

#business {
    margin-left: 10px;
}

#blogs {
    margin-left: 10px;
}

#aboutus {
    margin-left: 10px;

}

#empty-li {
    display: none;
}

.account {
    margin-right: 30px;
    font-weight: 600;
    margin-top: -35px;
    background-color: #f4f4f4;
    border: 0px;
    z-index: 5;

}

.subscribe {
    height: 40px;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 10;
    margin-bottom: 10px;
    top: 0%;
}

.sub-p {
    text-align: center;
    margin-top: 5px;
}

.sub-btn {
    border: #001768;
    background-color: #001768;
    border-radius: 5px;
    color: #F3F3F3;
    margin-right: 10px;
    position: relative;
    padding: 5px 10px 5px 10px;

}

.sub-btn:hover {
    background-color: #001d84;
}

#lgin {
    display: none;
    list-style: none;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 5px;
}

.p {
    margin-top: 10px;
}

.heading {
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}



.paragraph-1 {
    padding: 10px 20px 10px 20px;
    background-color: #FFE5FE;
    width: 40%;
    margin-left: 15%;
    text-align: center;
    margin-top: -20%;
}

#h-2 {
    margin-top: 20px;


}

.img-1 {

    image-rendering: crisp-edges;
    height: 20%;
    width: 20%;

    margin-left: 65%;
}

.p1c {
    color: #B50098;
}

.paragraph-2 {
    padding: 10px 20px 10px 20px;
    background-color: #E5FFF1;
    width: 40%;
    float: right;
    margin-right: 15%;
    text-align: center;
    margin-top: -20%;
}

.p2c {
    color: #00CE3A;
}

.img-2 {
    image-rendering: crisp-edges;
    height: 20%;
    width: 20%;
    margin-top: 5%;
    margin-right: 65%;
    float: right;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.p {
    padding-top: 102px;
}

#menu-btn {
    display: none;
}

.automation {
    margin-top: 30%;
    text-align: center;
    background-color: #EFEFEF;
}

.img-3 {
    width: 80%;
    height: 30%;
    border: 1px solid #EFEFEF;
    border-radius: 10px;
}

.box {
    height: 450px;
    width: 300px;
    border-radius: 15px;
}

.box1 {
    margin-left: 10%;
    margin-top: 4%;
    font-weight: 100;
    font-size: 20px;

}

.box2 {
    margin-left: 40%;
    margin-top: -36%;
    font-weight: 100;
    font-size: 20px;

}

.box3 {
    margin-left: 67%;
    margin-top: -37%;
    font-weight: 100;
    font-size: 20px;

}

.img-box {
    margin-left: 30px;
    margin-top: -30px;
    height: 240px;
    width: 240px;
    border-radius: 10px;
}

.tool-img {
    background-color: #E7E7E7;
}

.marq {
    width: 100%;
    padding: 10px;
    background-color: #EFEFEF;
    z-index: 99999;
    overflow: hidden;


}

.h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #001768;
    padding: 10px;
    text-align: center;
}

.h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    padding: 10px;
    text-align: center;

}



.t-i-1 {
    width: 10%;
    height: 10%;
    padding: 10px;
    margin: 20px;
    background-color: #F3F3F3;
    border-radius: 10px;
    border: 3px solid #001768;
}

#ti3 {
    width: 15%;
    height: 20%;
}

.b1 {
    width: 25%;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    margin-left: 70px;

}

.b2 {
    width: 25%;
    text-align: center;
    margin-left: 37%;
    margin-top: -34%;
    font-weight: 100;
    font-size: 20px;

}

.b3 {
    width: 25%;
    text-align: center;
    margin-left: 68%;
    margin-top: -38%;
    font-weight: 100;
    font-size: 20px;
}

.b-i-1 {

    width: 100%;
    height: 25%;
    padding: 10px;
    border-radius: 30px;
}

.b-i-2 {
    width: 100%;
    height: 210px;
    padding: 10px;
    border-radius: 30px;
}

.b-i-3 {
    width: 100%;
    height: 212px;
    padding: 10px;
    border-radius: 30px;
}

#b-p {

    font-weight: 500;

}

#b-p1 {
    margin-left: -5px;
    font-weight: 500;

}

#b-p-1 {
    margin-left: 40px;
}

#readmore {
    background-color: #001760;
    color: #ffffff;
    top: 20px;

    border-radius: 5px;
    padding: 5px;

}
