.center {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #22004D;
}

.ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b201;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}

.ring::before {
    position: absolute;
    contain: '';
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

span {
    color: #737373;
    letter-spacing: 1px;
}

#navbar-id {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#navbar-id {
    background-color: #4B06A1;
    color: #ffffff;
}

#navbarNav a {
    color: #ffffff;
    font-family: 'IBM Plex Mono';
    font-size: 15px;
}

#logo-name {
    color: #ffffff;
    font-weight: 300;
    padding: 10px;
    font-size: 18px;
    font-family: 'Beth Ellen', sans-serif;
}

#logo-img {
    vertical-align: middle;
}

.abc::after {
    content: " ";
    color: #8747fd;
    transition: 0.5s;
    height: 2px;
    display: block;
    margin: auto;
    width: 0%;
    background: #8747fd;
}

.abc:hover::after {
    width: 30%;
}


#list li {
    text-align: center;
}

#user:hover::after {
    width: 0%;
}

#user-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.main {
    position: relative;
    top: 90px;
    align-content: center;
}

#heading-1 {
    position: relative;
    top: 45px;
    bottom: 20px;
    text-align: center;
    font-family: 'Cinzel Decorative', sans-serif;
    color: #ffffff;
    font-weight: 800;
    padding-bottom: 5%;
}

#drp-id {
    position: relative;
    display: block;
    top: 25px;
    text-align: center;
}

#drp-button {
    background-color: #7c28eb;
    color: white;
    font-family: 'Cinzel Decorative', sans-serif;
    width: 310px;
    height: 30px;
    font-weight: 600;
    position: relative;
}

#drop-menu {
    align-content: center;
}

#form-center {
    display: flex;
    justify-content: center;
}

#tag {
    align-self: center;
}

#tag input {
    width: 310px;
    display: none;
    text-align: center;
    background-color: #d5b6ff;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    border: 2px solid #7c28eb;
    border-radius: 5px;
    height: 30px;
    margin: 5% 0%;
    padding: 5px 10px;
    align-items: center;

}

/* footer */
.footer {
    position: relative;
    top: 250px;
    bottom: 0px;
    width: 100%;
    background-color: #1A1919;
    color: #ffffff;

}

#footer-logo {
    position: relative;
    top: 10px;
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
    vertical-align: middle;
}

#footer-logo a {
    font-family: 'Beth Ellen', sans-serif;
    padding-left: 10px;
}

#newsletter {
    position: relative;
    top: 20px;
    text-align: center;
}

#newsletter-para {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

#input-text {
    border: none;
    margin-bottom: 8%;
    margin-left: -30px;
    width: 220px;
    border-radius: 10px 00px 0px 10px;
    background: linear-gradient(21deg, #9daab1, #b0bdba);
}

#sub-btn {
    position: absolute;
    border: none;
    width: 25px;
    background: rgb(145, 145, 151);
    border-radius: 0 10px 10px 0px;
}

#icon-link {
    display: flex;
    padding: 10px;
}

#icon-link li {
    list-style: none;
    padding: 10px;
}

#policies-list {
    width: 100%;
    display: flex;
    font-size: 12px;
}

#list-footer-policies {
    width: 70%;
    display: flex;
    padding-left: 3%;
}

#list-footer-policies li {
    list-style: none;
    padding: 5px;
}

#list-footer-policies a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #ffffff;
}

#p-footer-polices {
    position: absolute;
    width: 20%;
    right: 10px;
}


#tool-list,
#academy-list,
#other-list {
    display: none;
}

#academy-list,
#other-list,
#social-list li {
    text-align: justify;
    width: 80%;
    margin-left: 20px;
}

#tool-list,
#academy-list,
#other-list ul {
    list-style: circle;
}


#social-list a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

#other-list a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

#academy-list a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

#tool-list a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}


#social-list li {
    position: relative;
    text-align: center;
    list-style: none;
}

#footer-h {
    text-align: center;
}

@media only screen and (min-width:500px) {


    .abc {
        padding-left: 50px;
    }

    #navbarNav {
        margin-top: 15px;
    }

    .abc:hover::after {
        width: 15%;
    }
}

@media only screen and (min-width: 1000px) {
    .abc {
        float: right;
        position: relative;
        right: 2%;
        padding-left: 30px;
    }

    #navbarNav {
        margin-left: 18%;
    }

    .abc:hover::after {
        width: 100%;
    }

    #user {
        position: absolute;
        right: 5%;
        bottom: 10px;
        /* margin-top: -5px; */

    }

    #user-a {
        border: 2px solid #3d0681;
        padding: 10px 10px 0px 0px;
        border-radius: 5px;
        background-color: #3d0681;
        border-color: #8747fd;
    }

    #user-a:hover {
        border-color: #18033f;
    }

    #tool-list,
    #academy-list,
    #other-list,
    #social-list {
        display: block;
    }

    #tool-list,
    #academy-list,
    #other-list,
    #social-list ul {
        list-style: none;
    }

    #social {
        display: block;
    }



    #footer-div {
        display: flex;
        width: 100%;
    }

    #footer-div-1 {
        display: block;
        width: 40%;
    }

    #footer-div-2 {
        display: inline;
        width: 60%;
    }

    #footer-category {
        width: 100%;
    }

    #footer-category-1 {
        display: inline-flex;
        width: 90%;
    }

    #tools {
        width: 50%;
        margin-top: 10%;
    }

    #academy {
        width: 50%;
        margin-top: 10%;
        margin-left: 100px;
    }

    #footer-category-2 {
        width: 90%;
        display: inline-flex;
    }

    #other {
        width: 50%;
        margin-top: 10%;
        margin-left: -20px;
    }

    #social {
        width: 50%;
        margin-top: 10%;

    }

    #social li {
        list-style: none;
    }

    #p-footer-polices {
        margin-left: 20%;
    }
}


@media only screen and (min-width: 1500px) {
    #user {
        margin-left: 60%;
    }

    #tag input {
        margin: 5% 0%;
        font-size: 15px;
    }

    #drp-button {
        font-size: 15px;
    }
}
