#trail-div {
    position: relative;
    top: 20px;
    width: 70%;
    display: block;
    border: 1px solid #000000;
    background-color: #5619a7;
    margin: auto;
    text-align: center;
    border-radius: 5px;
}

#trail-div-h {
    color: #000000;
    font-weight: 900;
    font-family: 'Cinzel Decorative', sans-serif;
    text-align: center;
    padding: 10px;
}

#trail-div-p {
    color: #000000;
    font-weight: 600;
    font-family: 'IBM Plex Mono', sans-serif;
    text-align: left;
    padding: 10px 20px;
}

#trail-div-btn {
    bottom: 10px;
    font-family: 'IBM Plex Mono', sans-serif;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #8242d6 0, #904EE2 100%);
    border: 0;
    border-radius: 6px;
    color: #ffffff;

}

#trail-div-btn:focus {
    box-shadow: #883ce0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #9e3ce0 0 -3px 0 inset;
}

#trail-div-btn:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #963ce0 0 -3px 0 inset;
    transform: translateY(-2px);
}

#trail-div-btn:active {
    box-shadow: #ac3ce0 0 3px 7px inset;
    transform: translateY(2px);
}

#sub-type {
    text-align: center;
}

.btn {
    border: 1px solid #000000;
    display: inline-block;
    padding: 15px;
    position: relative;
    text-align: center;
    top: 70px;
    color: #ffffff;
    transition: background 600ms ease, color 600ms ease;
    background-color: #787878;
}

.pricing-switcher {
    text-align: center;
    margin-top: 50px;
}

.pricing-switcher .fieldset {
    display: inline-block;
    position: relative;
    padding: 2px;
    border-radius: 50em;
    border: 2px solid #2d3e50;
}

.pricing-switcher input[type="radio"] {
    position: absolute;
    opacity: 0;

}

.pricing-switcher label {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 1.4rem;
    color: #ffffff;
}

.pricing-switcher .switch {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 40px;
    width: 93px;
    z-index: -1;
    background-color: #7f75bd;
    color: #000000;
    border-radius: 50em;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.9s;
}

.pricing-switcher input[type="radio"]:checked+label+.switch,
.pricing-switcher input[type="radio"]:checked+label:nth-of-type(n)+.switch {
    -webkit-transform: translateX(90px);
    -moz-transform: translateX(90px);
    -ms-transform: translateX(90px);
    -o-transform: translateX(90px);
    transform: translateX(90px);
}

.no-js .pricing-switcher {
    display: none;
}



@keyframes marquee {
    from {
        transform: translateX(-40%);
    }

    to {
        transform: translateX(40%);
    }
}


.pricing-switcher input[type="radio"]:checked~front {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 48px;
    color: #ffffff;
    background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
    background-position: 0;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    white-space: nowrap;
}

@keyframes shine {
    0% {
        background-position: 0
    }

    60% {
        background-position: 180px
    }

    100% {
        background-position: 180px
    }
}

.container {
    background: linear-gradient(to bottom, #360972, #3a097a, #430a8d);
    color: #ccc;
    font-family: "Nunito", sans-serif;
    width: 70%;
    border-radius: 7px;
    padding: 5%;
    margin: 5% auto;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.flex2 {
    border-right: 0.1px solid rgba(178, 170, 171, 0.185);
}

.flex_content {
    padding: 5% 10%;
    flex: 1;
}

.flex_content h2 {
    font-weight: 600;
}

.flex_content ul {
    padding-inline-start: 7%;
    margin: 10% 0;
    text-align: justify;
}

.flex_content ul li {
    font-weight: 300;
    list-style: none;
    padding-top: 10px;
}

.flex_content button {
    outline: none;
    border: 1px solid #312a85;
    background: #470997;
    color: #fff;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-family: "Nunito", sans-serif;
    cursor: pointer;
    font-size: 15px;
}

.flex_content:nth-of-type(1) button {
    background: transparent;
    border: 1px solid #312a85;
    background: #470997;
    color: #fff;
}

button:hover {
    background-color: rgb(122, 0, 221);
    box-shadow: inset 0 0 0 rgba(4, 23, 109, 0.5), 0 0 1.5em rgba(65, 0, 170, 0.7);
}

.flex_content:nth-of-type(1) button:hover {
    background-color: rgb(122, 0, 221);
    box-shadow: inset 0 0 0 rgba(4, 23, 109, 0.5), 0 0 1.5em rgba(65, 0, 170, 0.7);
}

@media screen and (max-width: 540px) {
    .flex {
        flex-direction: column;
    }

    .flex2 {
        border: none;
    }
}

/* footer */
.footer {
    position: relative;
    top: 250px;
    bottom: 0px;
    width: 100%;
    background-color: #1A1919;
    color: #ffffff;

}

#footer-logo {
    position: relative;
    top: 10px;
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
    vertical-align: middle;
}

#footer-logo a {
    font-family: 'Beth Ellen', sans-serif;
    padding-left: 10px;
}

#newsletter {
    position: relative;
    top: 20px;
    text-align: center;
}

#newsletter-para {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

#input-text {
    border: none;
    margin-bottom: 8%;
    margin-left: -30px;
    width: 220px;
    border-radius: 10px 00px 0px 10px;
    background: linear-gradient(21deg, #9daab1, #b0bdba);
}

#sub-btn {
    position: absolute;
    border: none;
    width: 25px;
    background: rgb(145, 145, 151);
    border-radius: 0 10px 10px 0px;
}

#icon-link {
    display: flex;
    padding: 10px;
}

#icon-link li {
    list-style: none;
    padding: 10px;
}

#policies-list {
    width: 100%;
    display: flex;
    font-size: 12px;
}

#list-footer-policies {
    width: 70%;
    display: flex;
    padding-left: 3%;
}

#list-footer-policies li {
    list-style: none;
    padding: 5px;
}

#list-footer-policies a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #ffffff;
}

#p-footer-polices {
    position: absolute;
    width: 20%;
    right: 10px;
}


#tool-list,
#academy-list,
#other-list {
    display: none;
}

#academy-list,
#other-list,
#social-list li {
    text-align: justify;
    width: 80%;
    margin-left: 20px;
}

#tool-list,
#academy-list,
#other-list ul {
    list-style: circle;
}


#social-list a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

#other-list a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

#academy-list a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

#tool-list a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

#social-list li {
    position: relative;
    left: 5%;
    text-align: center;
    list-style: none;
}

#footer-h {
    text-align: center;
}

@media only screen and (min-width: 500px) {
    .abc {
        padding-left: 50px;
    }

    #navbarNav {
        margin-top: 15px;
    }

    .abc:hover::after {
        width: 15%;
    }
}

@media only screen and (min-width: 1000px) {

    /* navbar */
    .abc {
        float: right;
        position: relative;
        right: 2%;
        padding-left: 30px;
    }

    #navbarNav {
        margin-left: 18%;
    }

    .abc:hover::after {
        width: 100%;
    }

    #user {
        position: absolute;
        right: 5%;
        bottom: 10px;
        /* margin-top: -5px; */

    }

    #user-a {
        border: 2px solid #3d0681;
        padding: 10px 10px 0px 0px;
        border-radius: 5px;
        background-color: #3d0681;
        border-color: #8747fd;
    }

    #user-a:hover {
        border-color: #18033f;
    }

    /* navbar */
    /* footer */
    #tool-list,
    #academy-list,
    #other-list,
    #social-list {
        display: block;
    }

    #tool-list,
    #academy-list,
    #other-list,
    #social-list ul {
        list-style: none;
    }

    #social {
        display: block;
    }



    #footer-div {
        display: flex;
        width: 100%;
    }

    #footer-div-1 {
        display: block;
        width: 40%;
    }

    #footer-div-2 {
        display: inline;
        width: 60%;
    }

    #footer-category {
        width: 100%;
    }

    #footer-category-1 {
        display: inline-flex;
        width: 90%;
    }

    #tools {
        width: 50%;
        margin-top: 10%;
    }

    #academy {
        width: 50%;
        margin-top: 10%;
        margin-left: 100px;
    }

    #footer-category-2 {
        width: 90%;
        display: inline-flex;
    }

    #other {
        width: 50%;
        margin-top: 10%;
        margin-left: -20px;
    }

    #social {
        width: 50%;
        margin-top: 10%;
    }

    #social li {
        list-style: none;
    }

    #p-footer-polices {
        margin-left: 20%;
    }

    /* footer */
    #trail-div {
        display: flex;
        width: 90%;
        justify-content: center
    }

    #trail-div-h {
        margin: 10px 0px;
    }

    #trail-div-p {
        margin: 10px 0px;
    }

    #trail-div-btn {
        height: 40px;
        width: 170px;
        left: 0;
        bottom: 0px;
        margin: 20px;
        top: 10px;
    }

    #plan {
        position: relative;
        top: 130px;
        left: 21%;
        width: 70%;
        display: flex;
    }

    #div-ind {
        width: 50%;
    }

    #div-buss {
        width: 50%;
    }
}

@media only screen and (min-width: 1500px) {}