body {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    transition: 0.5s;
}


.navbar {
    width: 100%;
    height: 60px;
    background-color: #dbd8d8;
    display: flex;
}

.logo {
    width: 70%;
}

#logo-img {
    height: 60px;
    width: 60px;
    vertical-align: middle;
}

.logo span {
    font-weight: 900;
    font-size: 15px;
    color: #0E0064;
}

.profile {
    width: 15%;
    margin-left: 5px;
}

#profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 8px 8px 10px 5px;
    border: 3px solid rgb(0, 14, 43);
}

#profile-pic:hover {
    border: 3px solid rgb(0, 119, 255);
}

.mode {
    padding: 20px 0px;
    width: 15%;
    display: flex;
}

.switch {
    position: relative;
    width: 35px;
    height: 15px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#dark {
    margin-left: 5px;
}

#light {
    margin-right: 5px;
}



#recon-title {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 30px;
}

.divider {
    text-align: center;
}

.btn {
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(0, 5, 70);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.dropdown {
    text-align: center;
    margin-left: -5px;
}

.form {
    text-align: center;
    position: relative;
}

.ip {
    width: 200px;
    text-align: center;
    background-color: #dbd8d8;
    border: 1px solid rgb(0, 5, 70);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px;
    display: none;
    font-weight: 300;
    color: #0E0064;
}

#submit-btn {
    text-align: center;
    display: block;
}

.tool {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    padding: 12px;
    background-color: #0E0064;
    color: #ffffff;
    width: 75%;
    margin: 10px;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    font-weight: 800;
}

#submit {
    height: 30px;
    width: 170px;
    background-color: #0E0064;
    color: white;
    border-radius: 5px;
    margin: 10px;
}

@media only screen and (min-width: 600px) {
    .logo span {
        font-size: 20px;
    }

    .profile {
        text-align: center;
    }

    .mode {
        margin-left: 55%;
    }
}