.t1_fonts {
    text-align: center;
    margin-left: 45%;
    font-size: 25px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    color: rgb(0, 195, 255);
}

.t1_fonts:hover {
    color: rgb(255, 0, 93);
}

.t2_fonts {
    font-size: 20px;
    margin-left: 40%;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    color: rgb(30, 0, 131)
}

.t2_fonts:hover {
    color: rgb(148, 145, 255);
}

.menu_ul {
    background-color: rgb(43, 174, 226);
    width: 100%;
    height: 40px;
}

.menu_button_list {
    text-align: left;
    list-style-type: none;
    display: inline;
    margin: 10px;
    padding: 9px;
    margin-left: -15px;
    z-index: 2;
    border: 2px red;
}

.menu_button {
    font-style: 'IBM Plex Mono', monospace;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.menu_button:hover {
    color: white;
    margin-top: 20px;
    border: 15px rgb(255, 0, 93) solid;
    background-color: rgb(255, 0, 93);
    border-radius: 5px;
}

.pre_image {
    height: 500px;
    width: 300px;
    display: block;
    margin-left: 40%;
    margin-top: -320px;
    z-index: -5;
}

.part2 {
    text-align: center;
    color: rgb(12, 0, 57);
    background-color: chartreuse;
    padding-bottom: 30px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.part3 {
    text-align: center;
    margin: 20px;
}

.instagram:hover {
    color: rgb(255, 0, 93);
    height: 40px;
    width: 40px;
}

.mail:hover {
    color: rgb(255, 179, 0);
    height: 40px;
    width: 40px;
}

.twitter:hover {
    color: rgb(0, 179, 255);
    height: 40px;
    width: 40px;
}
