.t1_fonts {
    font-size: 25px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    color: rgb(0, 195, 255);
}

.t2_fonts {
    font-size: 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    text-align: center;
    color: rgb(30, 0, 131)
}

.menu_button_list {
    text-align: left;
    list-style-type: none;
    display: inline;
    margin-top: 50px;
    margin: 10px;
    padding: 10px;
    margin-left: -15px;
    z-index: 2;
    background-color: rgb(215, 236, 255);
    border: 2px red;
}

.menu_button {
    font-style: 'IBM Plex Mono', monospace;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: rgb(0, 170, 255);
}

.menu_button:hover {
    color: rgb(255, 0, 128);
}

.pre_image {
    height: 500px;
    width: 300px;
    display: block;
    margin-top: -20px;
    margin-left: 40%;
    margin-right: 50%;
    border: 10px;
    border-color: aqua;
    z-index: -1;
}
