a:visited,a:active{
    color: rgb(0, 162, 255);
}
a:hover{
    color: rgb(255, 0, 106);
}
#menu-bar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(0, 162, 255);
}
#menu-bar ul{
    list-style: none;
}
#menu-bar ul li{
    text-decoration: none;
    float: left;
    padding:10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    color: #00a2ff;
}
#menu-bar ul li:hover{
    background-color: white;
    border-bottom:3px solid rgb(255, 0, 106) ;
    color: rgb(253, 0, 106);
    border-radius: 5px;
}
h1:hover{
    color: rgb(255, 0, 106);
}
#titls{
    color: rgb(255, 0, 106);
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
#div2 ul{
    list-style: none;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size:20px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#vid1{
    border-radius: 15px;
}
#whoami{
    border-radius: 7px;
}
#link:hover{
    color: rgb(255, 0, 106);
}
.lgin{
    color: rgb(151, 158, 255);
    font-size: 20px;
    font-family: cursive;
}
.lgin-ip{
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(237, 209, 255);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid rgb(255, 0, 106);
}
.lgin-sub{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    background-color: rgb(255, 0, 106);
    border-radius: 5px;
    border: 1px solid white;
}
.lgin-sub:hover{
    background-color: white;
    color: rgb(255,0,106);
    border: 1px solid rgb(255, 0, 106);
}
#frm{
    border: 2px solid white;
    margin-left: 230px;
    margin-right: 230px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
}
.lgin-rst{
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    background-color: rgb(255, 0, 106);
    border-radius: 5px;
    border: 1px solid white;
}
.lgin-rst:hover{
    background-color: white;
    color: rgb(255,0,106);
    border: 1px solid rgb(255, 0, 106);
}
#prps{
    text-align: center;
    background-image: linear-gradient(to left,rgb(0,23,85),black);
    color: rgb(246, 255, 113);
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
    margin-left: -10px;
    margin-right: -8px;
}
.instagram {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    line-height: 50px;
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }
  .instagram:hover{
      background: white;
      color: rgb(255, 0, 106);
      text-decoration: none;
  }
  .linkedin {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    vertical-align: middle;
    background: #2a00e7;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }
  .linkedin:hover{
      background-color: white;
      text-decoration: none;
      color: #2a00e7;
  }
  .youtube {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    vertical-align: middle;
    background: #e70000;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }
  .youtube:hover{
      color: red;
      background-color: white;
      text-decoration: none;
  }
  .twitter {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    vertical-align: middle;
    background: #00a2ff;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }
  .twitter:hover{
      color: #00a2ff;
      text-decoration: none;
      background-color: white;
  }
  .github {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    vertical-align: middle;
    background: #000000;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }
  .github:hover{
      color: black;
      text-decoration: none;
      background-color: white;
  }
  #insta{
      color: white;
  }
  #insta:hover{
    background: white;
    color: rgb(255, 0, 106);
  }
  #linkedin{
    color: white;
}
#linkedin:hover{
  background: white;
  color: rgb(38, 0, 255);
}
#youtube{
    color: white;
}
#youtube:hover{
  background: white;
  color: rgb(255, 0, 0);
}
#twitter{
    color: white;
}
#twitter:hover{
  background: white;
  color: #00a2ff;
}
#github{
    color: white;
}
#github:hover{
  background: white;
  color: #000000;
}

  .wrtimg{
      height: 250px;
      width: 630px;
      border-radius: 15px;
  }
  .wrtimg:hover{
      border: 5px solid rgb(255, 255, 255);
      height: 260px;
      width: 650px;
      border-radius: 15px;
      padding-top: -5px;
  }
  #mainframe1{
      margin-top: -55px;
      margin-left: -20px;
      margin-right: -8px;
      color: #000000;
      background-image: linear-gradient(to left,rgb(255, 255, 255),rgb(255, 255, 255));
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 20px;
      margin-bottom: -40px;
  }
  #wwp{
    margin-left: -20px;
    margin-right: -8px;
    color:white;
    background-image: linear-gradient(to left,rgb(0, 0, 0),rgb(0, 0, 0));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-bottom: -40px;
}
.cont{
    text-align: center;
    border: 0px solid white;
    height: 350px;
    width: 200px;
}
.vid{
    margin-top: -50px;
}
#container1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
}
    